/* common */

  @font-face{ 
    font-family: 'DQ';
    src: url('../fonts/PixelMplus10-Regular-katupon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html{
    height: 100%;
    width: 100%;
    /* cursor: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body{
    height: 100%;
    width: 100%;
    font-family: 'DQ';
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

/* common */


.flashscreen{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  opacity: 0;
}
.flashscreen.in{
  animation: flashscreenanime 1s forwards;
  pointer-events: none;
}
@keyframes flashscreenanime {
  0% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

.blackout{
  position: absolute;
  width: 600px;
  height: 100%;
  z-index: 999;
  background-color: #000;
  opacity: 0;
}
.blackout.in{
  opacity: 1;
  transition: all 3s 1s linear;
}

.main{
  z-index: 99;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 700px;
  max-width: 500px;
  overflow: hidden;
  opacity: 1;
}
.main.off{
  transform: scaleY(0);
  opacity: 0;
}
.bgi{
  position: absolute;
  bottom: 270px;
  width: 100%;
  height: 300px;
  z-index: -1;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  overflow: hidden;
  /* margin: 100px 0 125px; */
  transform: scaleY(0);
  filter: grayscale(10%);
  transition: transform 2s 0s,
              border 0s 0s;
}
.bgi-img{
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: 60% 0%;
  image-rendering: pixelated;
}
.bgi.apear{
  transform: scaleY(1);
}
.bgi.apear2{
  border-color: #fff;
}
.katsuya{
  position: absolute;
  bottom: 0;
  left: calc(50% - 65px);
  width: 120px;
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 2.3s;
  image-rendering: pixelated;
}
.katsuya.in{
  opacity: 1;
}
.katsuya.flash{
  animation: blinkEffect .1s step-end 3;
}
.frame{
  position: absolute;
  border: 4px solid #fff;
  border-radius: 4px;
  outline: 1.5px solid #303029;;
  background-color: #303029;
  opacity: 0;
  transition: opacity 0s 3s;
}
.frame.apear{
  opacity: 1;
}
.gameover.over{
  border-color: #dc6216;
  color: #dc6216;
}
.readme{
  top: 2%;
  left: 10px;
  padding: 4px 12px;
  line-height: 30px;
  text-align:justify;
  text-align-last:justify;
}
.meirei{
  top: 2%;
  left: 176px;
  padding: 4px 12px;
  line-height: 30px;
}
.to_result{
  top: 2%;
  right: 10px;
  padding: 4px 12px;
  line-height: 30px;
  box-shadow: 4px 4px  #ffffff8f;
  background-color: #adadad;
  color: #161615;
}
.spacing{
  /* display: block; */
  margin: 4px;
}
.command{
  bottom: 10px;
  left: 10px;
  z-index: 1;
}
.frame.check{
  bottom: 30px;
  right: calc(1% * 4);
  /* right: 10px; */
  z-index: 2;
  text-align: center;
  /* display: none; */
}
.command dt,
.check dt{
  text-align: center;
  font-weight: normal;
  border-bottom: 2px solid #fff;
  padding: 6px 9px;
}
.check dt{
  padding: 12px 12px;
  line-height: 28px;
}
.check-text{
  padding: 12px;
  margin: 0 auto;
  /* text-align-last: left; */
  font-size: 16px;
}
.check-text.ban{
  pointer-events: none;
}
.submit{
  opacity: 0;
  animation: blinkEffect .6s 8s step-end infinite;
}
.list-check{
  appearance: none;
  width: 0;
  height: 0;
  padding: 0;
}
.command-lists{
  display: flex;
  flex-direction: column;
}
.command-list{
  position: relative;
  display: block;
  padding: 8px 8px 8px 26px;
  /* appearance: none; */
}
.check-list{
  position: relative;
  padding: 8px 8px 8px 36px;
}
.list-check:checked:before{
  content: url("../img/矢印.png");
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.06);
  position: relative;
  top: -198px;
  left: -127px;
  opacity: 0;
  animation: blinkEffect .6s step-end infinite;
  image-rendering: pixelated;
}
.textbox{
  bottom: 175px;
  left: 0px;
  width: calc(100% - 8px);
  height: 100px;
  padding: 8px;
  margin: 0px 4px;
  transition: opacity 0s 2s;
  font-size: 16px;
  opacity: 0;
}
.check-text.small{
  font-size: 15px;
}


/* レスポンシブ対応(height編) */


@media screen and (min-height: 601px) and (max-height: 660px) {
  .bgi{
    /* top: 13%; */
    height: 250px;
  }
  .katsuya{
    left: calc(50% - 50px);
    width: 100px;
  }
}
@media screen and (max-height: 600px) {
  .bgi{
    top: 15%;
    height: 250px;
  }
  .katsuya{
    left: calc(50% - 50px);
    width: 100px;
  }
  .textbox{
    bottom: 160px;
  }
}




/* レスポンシブ対応(width編) */

@media screen and (min-width: 361px) and (max-width: 380px) {
  /* 380px以下に適用されるCSS */
  .textbox{
    font-size: 14px;
  }
  .check-text.small{
    padding: 10px;
    font-size: 13px;
  }
}

@media screen and (min-width: 341px) and (max-width: 360px) {
  .textbox{
    font-size: 14px;
  }
  .check-text.small{
    padding: 10px;
    font-size: 12px;
  }
  .command{
    left: 4px;
  }
}

@media screen and (max-width: 340px) {
  .textbox{
    width: calc(100%);
    margin: 0px;
    padding: 4px;
    font-size: 14px;
  }
  .check-text.small{
    padding: 10px;
    font-size: 12px;
  }
  .readme{
    font-size: 15px;
    left: 6px;
  }
  .meirei{
    font-size: 15px;
    left: 160px;
  }
  .command{
    left: 4px;
  }
  .frame.check{
    right: 4px;
  }
}

.text{
  width: 100%;
  white-space: nowrap;
  caret-color: transparent;
  padding: 4px;
}

@keyframes blinkEffect {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes blinkDott1 {
  0% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes blinkDott2 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes blinkDott3 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes typing{
  0% {width: 0;}
}
@keyframes blink{
  50% {border-right-color: transparent;}
}





/* ↓↓---グラフ画面用のスタイル---↓↓ */

.result-loading{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: 1;
  transition: opacity 1.2s;
  pointer-events: all;
  overflow: hidden;
}
.result-loading.loaded{
  opacity: 0;
  pointer-events: none;
}
.result-loading h1{
  font-size: 34px;
  margin-top: 48px;
  display: flex;
}
.loading-dott{
  display: block;
  width: 20px;
  height: 10px;
  margin-top: 8px;
}
.loading-dott:nth-child(1){
  -webkit-animation: blinkDott1 2s 0s step-end infinite;
  animation: blinkDott1 2s 0s step-end infinite;
}
.loading-dott:nth-child(2){
  -webkit-animation: blinkDott2 2s 0s step-end infinite;
  animation: blinkDott2 2s 0s step-end infinite;
}
.loading-dott:nth-child(3){
  -webkit-animation: blinkDott3 2s 0s step-end infinite;
  animation: blinkDott3 2s 0s step-end infinite;
}
.chara-box{
  display: flex;
  width: 110px;
  justify-content: space-between;
}
.chara{
  position: relative;
  width: 70px;
  height: 100px;
}
.chara img{
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  width: 100%;
}
.chara img:nth-child(1){
  animation: blinkEffect 1s 0s step-end infinite;
}
.chara img:nth-child(2){
  opacity: 0;
  animation: blinkEffect 1s .5s step-end infinite;
}
.loading-katuya{
  top: 0px;
  left: 10px;
}
.loading-izuho{
  top: 10px;
  right: 16px;
}

.result-body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.result-graph{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* height: 500px; */
  min-height: 600px;
  overflow-y: scroll;
}
.result-dt{
  display: flex;
  flex-direction: column;
  font-size: 32px;
}
.reload-button{
  font-size: 16px;
  font-weight: normal;
  border: 4px solid #fff;
  border-radius: 4px;
  outline: 1.5px solid #303029;;
  background-color: #303029;
  margin: 0px auto 0px;
  padding: 8px;
  width: 200px;
  cursor: pointer;
  opacity: 0;
}
.reload-button.apear{
  animation: blinkEffect 1.2s 3s step-end infinite;
}
.to_home{
  font-size: 16px;
  font-weight: normal;
  border: 4px solid #fff;
  border-radius: 4px;
  outline: 1.5px solid #303029;;
  background-color: #303029;
  margin: 12px auto;
  padding: 8px;
  width: 140px;
}
.graph{
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  height: 60vh;
  min-height: 300px;
  /* max-height: 450px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

@media screen and (max-height: 460px) {
  .result-dt{
    position: absolute;
    top: 10px;
  }
  .graph{
    position: absolute;
    top: 120px;
    transform: scale(.8);
  }
}


.box {
  width: 40%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
  transition: all 1.2s;
  transform: scale(.7);
}
.box.one{
  top: 50px;
  left: calc(50% - 250px);
}
.box.two{
  top: 50px;
  left: calc(50% + 20px);
}
.box.three{
  top:270px;
  left: calc(50% - 250px);
}
.box.four{
  top:270px;
  left: calc(50% + 20px);
}
.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.box .percent svg circle {
  position: relative;
  fill: none;
  stroke-width: 10;
  stroke: #f3f3f338;
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.box .percent .number .title .value {
  font-size: 50px;
}
.p-small {
  font-size: 32px;
}
.box .graphtext {
  white-space: nowrap;
  padding: 10px 0 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.box.one .percent .line.rotate {
  /* stroke-dashoffset: calc(440 - (440 * 18) / 100); */
  /* hsla(色相（H）, 彩度（S）, 輝度（L)  */
  stroke: hsl(150, 66%, 53%);
}
.box.two .percent .line.rotate {
  stroke: hsl(52, 66%, 53%);
}
.box.three .percent .line.rotate {
  stroke: hsl(197, 66%, 53%);
}
.box.four .percent .line.rotate {
  stroke: hsl(340, 66%, 53%);
}
 
@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 440;
  }
  99.9%, to {
    stroke-dasharray: 440 440;
  }
}
